/* 引入 Matugen 生成的变量 */
@import "colors.css";

@keyframes blink-critical {
    50% {
        color: @on_surface_variant;
    }
    to {
        /* M3 Error 角色 */
        color: @error; 
    }
}

* {
    font-family: "Noto Sans";
    font-size: 12px;
    font-weight: 600;
    border: none;
}

window#waybar {
    background: transparent;
}

/* 取消注释加上wayabr背景,需要将config.jsonc总高度改height 34改为46 */
/* window>box { */
/*     background-color: alpha(@surface_container,0.8); */
/*     margin-top: 6px; */
/*     margin-left: 6px; */
/*     margin-right: 6px; */
/*     padding-bottom:6px; */
/*     border-radius: 13px; */
/* } */

/* 基础模块样式 */
#network, #bluetooth, #pulseaudio, #battery, #backlight,
#clock, #keyboard-state, #language, #submap, #player,
#idle_inhibitor, #custom-clipboard, #custom-playerctl,
#custom-playerlabel, #custom-update, #custom-powermenu,
#tray, #custom-wallpaper, #custom-media, #custom-wf-recorder,
#custom-launcher, #custom-cava-internal, #hardware, #window  {
    background: alpha(@surface_container, 0.8);
    color: @on_surface;
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 6px;
    padding: 0 10px;
    border-radius: 12px;
    transition: all 0.3s ease;
    /* border: 1px solid @primary; */
}
/* --- 硬件信息 --- */
#hardware {
    padding: 0 6px;
}
#cpu, #temperature, #memory, #disk {
    padding: 0 6px;
}

/* 1. 主角模块 */
/* #clock { color: @primary; } */
#custom-launcher { font-size: 13px; }
#custom-update { color: @primary }
#custom-clipboard { padding-left: 11px; }
/* #idle_inhibitor { padding-left: 9px; padding-right: 11px; } */
/* 2. 状态模块 */
/* #network, #bluetooth { color: @secondary; } */
/* #memory, #cpu, #disk { color: @tertiary; } */
/* #pulseaudio, #backlight { color: @primary_fixed_dim; } */
/* 3. 电池状态 */
#battery { color: @secondary; }
#battery.charging, #battery.plugged { color: @primary; }
#battery.warning { color: @tertiary; }
#battery.critical { color: @error; }
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* 4. 工作区样式 */
#workspaces {
    background: alpha(@surface_container, 0.8); /* 深色背景 */
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 6px;
    padding: 0; /* 增加左右内边距，让内部小胶囊不贴边 */
    border-radius: 12px; 
    /* transition: all 0.3s ease; */
    /* font-size: 8px; */
    /* border: 1px solid @primary; */
}
#workspaces button {
    background: alpha(@on_surface, 0.3);
    /* color: @surface_container_high; */
    margin: 7px 3px;
    padding: 0 6px;
    min-width: 8px;
    min-height: 8px;
    /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    /* transition: all 0.3s ease; */
    /* transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1); */
}
#workspaces button:first-child {
    /* 移除第一个按钮的左边距，让它直接贴在 #workspaces 的 padding 上 */
    margin-left: 8px;
}
 #workspaces button:last-child {
    /* 移除最后一个按钮的右边距 */
    margin-right: 8px;
}
#workspaces button.focused, #workspaces button.active {
    /* 选中状态使用 Primary 容器，产生明亮的点击感 */
    background: @primary;
    min-width: 16px;
}
#workspaces button.focused:hover, #workspaces button.active:hover {
    background: @primary;
}
#workspaces button:hover {
    background: alpha(@on_surface, 0.7);
}
#workspaces button label {
    color: transparent; /* 完全透明 */
    margin: 0;          /* 彻底消除间距 */
    padding: 0;
    font-size: 0;       /* 字号设为 0，不占宽度 */
}

/* 窗口标题 */
/* #window {  */
/*     background: transparent;  */
/* } */
window#waybar.empty #window {
    background: transparent;
    margin: 0;
    padding: 0;
}

/* 5. 托盘与特殊插件 */
#tray { color: @on_surface; }

#custom-powermenu {
    /* background: alpha(@error_container,0.8); */
    /* color: @error; */
    color: @primary;
    margin-right: 6px;
}

/* 6. 音乐播放器 (MPD / Playerctl) */
#player {
  padding: 0 2px;
  border-radius: 14px;
}
#custom-playerctl {
  background: @primary;
  color: @on_primary;
  margin: 2px 0;
  padding: 0;
  min-width: 25px;
  font-size: 14px;
}
#custom-playerctl.Paused, #custom-playerctl.Stopped {
  background: alpha(@primary, 0.1);
  color: @primary;
}
#custom-playerctl.Stopped {
  background: transparent;
  color: @on_surface;
}
#custom-playerlabel {
    background: transparent;
    color: @on_surface;
    margin: 3px 0;
}
#custom-playerlabel.Paused {
    color: @outline;
    font-style: italic;
}
#custom-playerlabel.Stopped { 
  color: transparent;
  margin: 0;
  padding: 0;
  min-width: 0;
  font-size: 0;
}
#custom-cava-internal { background: transparent; }

#submap {
    background: transparent;
    color: @on_tertiary_container;
    font-style: italic;
}

#custom-wf-recorder {
    background: transparent;
    color: @error;
    font-size: 20px;
}

tooltip label {
    padding: 0;
}

