* {
  lightbg : @surface-container;
  background : @surface-container;
  lightfg : @primary;
  foreground : @on-surface;
  font : "Roboto 11";
}
listview {
  lines : 10;
  columns : 1;
}
window {
  width : 25em;
  border-color: @outline;
}

